:root {
    --primary-red: #f65351;
    --primary-blue: #0a317b;
    --white: rgb(255, 255, 255);
    --very-light-grayish-blue: #f7fafd;
    --light-grayish-blue-1: #e5effa;
    --light-grayish-blue-2: #dde7ee;
    --grayish-blue: #939dae;
    --dark-grayish-blue: #5e6778;
    --very-dark-blue: #1c202b;
}